* {
	margin: 0;
	padding: 0;
}
body {
 background-color: #eeeeee;
}

a {
	text-decoration: none;
}

a:visited {
	color : #3d00f2;
}

a:hover {
	text-decoration: underline;
}

nav {
	padding-top: 3px;
	z-index: 1;
	text-align: center;
	height: 25px;
	background-color: #fff;
	width: 100%;
	position: fixed;
	top:0%;
	-moz-box-shadow: 5px 3px 5px 0px #656565;
	-webkit-box-shadow: 5px 3px 5px 0px #656565;
	-o-box-shadow: 5px 3px 5px 0px #656565;
	box-shadow: 5px 3px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title_fbar {
	margin-top: -3px;
}

aside{
	padding: 10px;
}

label
{
	display: block;
	width: 150px;
}


.sousbody {
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main_div {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    max-width: 500px;
}

.first_bubble{
	padding : 5px;
	border-radius: 5px;
	background-color: red;
	max-width: 350px;
	margin-bottom: 10px;
}

.second_bubble{
	padding:5px;
	border-radius: 5px;
	background-color: blue;
	min-height : 200px;
}

.main_form {
	display : flex;
	justify-content: center;
	margin-top: 15px;
}

.histoire {
	background-color: white;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding : 10px;
}

.comment {
	position: absolute;
	bottom : 10px;
	right : 10px;
	font-size: small;

}

.pic_comments{
	margin-right: 2px;
}

.comment_form {
	display : flex;
	justify-content: center;
	margin-top: 15px;
}

.titre_histoire {
	margin-bottom: 10px;
	text-align: center;
}

.timepost {
	font-size: small;
}

.main_text {
	margin: 10px auto 10px auto;
}

.au_dessus_de_categorie{
	margin-top: 0;
	margin-bottom: 0;
}

.categorie{
	font-size:small;
	background-color : pink;
	border-radius: 5px;
	padding : 2px;
}

.auteur {
	font-size: small;
}

.histoire_en_details{
	background-color: white;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	margin: 0 5% 10px 5%;
	padding : 10px;
	margin-top: 50px;
}

.content_story {
	background-color: lightgrey;
	border-radius: 5px;
	padding: 5px;
}

.login {
	margin-top: 50px;
}

.login_ok {
		margin: 50px auto 0 auto;
		background-color: green;
		width: 35%;
		text-align: center;
}

.login_pas_ok {
		margin: 50px auto 0 auto;
		background-color: red;
		width: 35%;
		text-align: center;
}

.register{
	margin-top: 50px;
}

#circle{
	display: none;
}

@media only screen and (max-width: 923px) {

#circle{
	display: inline-block;
 	 position:fixed;
 	 bottom : 50px;
 	 right : 50px;
}

@media only screen and (max-width: 716px) {
.sousbody {
	margin-top: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
}

}

@media only screen and (max-width: 500px) {
	.main_div {
	    display: flex;
	    flex-direction: column;
	    margin : 0 5% 0 5%;
	    max-width: 500px;
	}
}
