* {
	margin: 0;
	padding: 0;
}
body {
 background-color: #eeeeee;
}

a {
	text-decoration: none;
}

a:visited {
	color : #3d00f2;
}

a:hover {
	text-decoration: underline;
}

nav {
	padding-top: 3px;
	z-index: 1;
	text-align: center;
	height: 25px;
	background-color: #fff;
	width: 100%;
	position: fixed;
	top:0%;
	-moz-box-shadow: 5px 3px 5px 0px #656565;
	-webkit-box-shadow: 5px 3px 5px 0px #656565;
	-o-box-shadow: 5px 3px 5px 0px #656565;
	box-shadow: 5px 3px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	text-align: center;
}

.title_fbar {
	margin-top: -3px;
}

#url_navbar{
	text-decoration: none;
	color: white;
}

aside{
	padding: 10px;
}

label
{
	display: block;
	width: 150px;
}


.sousbody {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main_div {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    max-width: 500px;
}

.first_bubble{
	padding : 5px;
	border-radius: 5px;
	background-color: white;
	max-width: 350px;
	margin-bottom: 10px;
}

.second_bubble{
	padding:5px;
	border-radius: 5px;
	background-color: blue;
	min-height : 200px;
}

.confirmation_inscription{
	position: fixed;
	top: 0.05%;
	right : 5%;
	color:white;
}

.se_connecter{
	position: fixed;
	top: 0.05%;
	right : 5%;
	color:white;
}

.main_form {
	display : flex;
	justify-content: center;
	margin-top: 15px;
}

.histoire {
	background-color: white;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding : 10px;
}

.comment {
	position: absolute;
	bottom : 10px;
	right : 10px;
	font-size: small;

}

.pic_comments{
	margin-right: 2px;
}

.comment_form {
	display : flex;
	justify-content: center;
	margin-top: 50px;
}

.titre_histoire {
	margin-bottom: 10px;
	text-align: center;
}

.timepost {
	font-size: small;
}

.main_text {
	margin: 10px auto 10px auto;
}

.au_dessus_de_categorie{
	margin-top: 0;
	margin-bottom: 0;
}

.categorie{
	font-size:small;
	background-color : #ffcdd2;
	border-radius: 5px;
	padding : 2px;
}

.auteur {
	font-size: small;
}

.histoire_en_details{
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	margin: 80px auto 10px auto;
	padding : 10px;
	max-width: 600px;
}

.commentaires_histoire_en_detail {
	text-align: center;
	margin: 15px auto 5px auto;
	max-width: 500px;
	background-color: white;
	padding : 5px 0 0 0;
}

.author_name {
	font-size: 0.75em;
	float: right;
	margin-right: 10%;
}

.content_story {
	background-color: #ffebee;
	border-radius: 5px;
	padding: 5px;
}

.login_form{
	margin : auto;
	width: 25%;
}

.login {

}

.register_view{
	width : 60%;
	margin: 0 auto ;
	background-color: lightgreen;
	text-align: center;

}

.register_form{
	margin : auto;
	width: 25%;
}

.login_ok {
		margin: 100px auto 0 auto;
		background-color: green;
		width: 35%;
		text-align: center;
}

.login_pas_ok {
		margin: 100px auto 0 auto;
		background-color: red;
		width: 35%;
		text-align: center;
}


#circle{
	display: none;
}

.main_must_connect{
text-align: center;
margin : auto;

}

.green_message{
	background-color: orange;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    margin: 1% auto;
}

@media only screen and (max-width: 1500px) {
.sousbody {
	margin-top: 7%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.login_form{
	margin: auto; 
	width: 15%;
}


.register_form{
	margin: auto; 
	width: 15%;
}
}

@media only screen and (max-width: 1200px) {
.sousbody {
	margin-top: 8%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.login_form{
	margin: auto; 
	width: 15%;
}


.register_form{
	margin: auto; 
	width: 15%;
}
}

@media only screen and (max-width: 915px) {

#circle{
	display: inline-block;
 	 position:fixed;
 	 bottom : 50px;
 	 right : 50px;
}
.sousbody {
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.login_form{
	margin: auto; 
	width: 15%;
}


.register_form{
	margin: auto; 
	width: 15%;
}
}

@media only screen and (max-width: 716px) {
.sousbody {
	margin-top: 18%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.histoire_en_details{
	margin: 75px 5% 10px 5%;
}

.commentaires_histoire_en_detail {

	}

.login_form{
	margin: auto; 
	width: 25%;
}


.register_form{
	margin: auto; 
	width: 25%;
}

.se_connecter {
	display:none;
}

}
@media only screen and (max-width: 550px) {
	.commentaires_histoire_en_detail {
	margin: 15px 5% 10px 5%;
	}
}

@media only screen and (max-width: 500px) {
.main_div {
	display: flex;
	flex-direction: column;
	margin : 0 5% 0 5%;
	max-width: 500px;
}
.login_form{
	margin: auto; 
	width: 50%;
}


.register_form{
	margin: auto; 
	width: 50%;
}

}
